.book-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding-top: 50px;

  .mat-mdc-form-field.mat-mdc-form-field-type-mat-input {
    min-width: 400px;
  }
}
